.container {
  display: grid;
  place-items: center;
  height: 100dvh;
}

.cell {
  /* 16px in 1 rem */
  border: 1px solid gray;
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
